/*csss*/
body{
    margin: 15px 15px 15px 15px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
.main-header{
    text-align: center;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}

.judul-bangun{
    display: flex;
    /* background-color: DodgerBlue; */
    text-align: center;

}
.content{
    margin: 15px;
    margin-top: 15px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}
.selection-content{
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* text-align: center; */
    /* width: 100%; */
    /* padding: 0 15px; */
    overflow: hidden;
    
}
.btn-menu{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 17px;
    width: 50%;
    padding-left: 20%;

}
.btn-menu:hover{
    background-color: #1b8cce;
}
* {box-sizing: border-box;}
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
  .input-field:focus {
    border: 2px solid dodgerblue;
}  
/* pilihan menu luas / keliling */
.dropbtn {
    background-color: dodgerblue;
    color: white;
    padding: 16px;
    margin: 8px 80px;
    font-size: 16px;
    border: none;
    cursor: pointer;    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(24, 95, 167);
  }

  .btn-calc{
    margin-left: 20%;
    background-color: #758a96;
    padding: 10px;
    border: none;
    color: white;
  }

  .btn-calc:hover{
    background-color: #555;
  }

  .btn-to-top {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(55, 132, 209); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  .btn-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  